@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
.create-project {
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
  width: 45%;
  margin-top: 30px;
  margin-left: 60%;
}
.create-project h1 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 30px;
  font-weight: bold;
  padding-left: 10px;
}
.create-project .inputbox input,
textarea {
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  margin-bottom: 20px;
}
.create-project .inputbox:last-child {
  margin-bottom: 0;
}
.create-project .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.create-project .inputbox input:focus ~ span,
.create-project .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.create-project .inputbox button {
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
  height: 40px;
  border-radius: 20px;
}
.create-project .inputbox:hover button {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}
