body {
  background-image: url("https://c0.wallpaperflare.com/preview/4/236/886/glitch-computer-matrix-error.jpg");
  background-size: contain;
  width: 70%;
  align-self: center;
  margin: 0;
  text-align: center;
}
